 .u-section-1 {
  background-image: url("images/shade-levels_orig.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 689px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 410px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 610px;
}